.header {
  align-items: center;
  display: flex;
  font-size: 1.6rem;
  justify-content: space-between;
}

.settings-wrapper {
  align-items: center;
  display: grid;
  gap: 16px;
  grid-auto-flow: column;
}
