.wrapper {
  align-content: center;
  display: grid;
  gap: 32px;
  height: 100%;
}

.heading2-wrapper {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin: -32px 0 0;
}

.expires {
  font-family: arial, sans-serif;
}
