@import "styles/constants";

.wrapper {
  background: map-get($map: $color, $key: white);
  padding: 32px;
}

.heading2-wrapper {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.player-wrapper {
  margin: 16px 0 0;
}
